@charset "utf-8";
html,
body {
	font-family: "novecento_widenormal", "STHeiti", "Microsoft JhengHei", "Microsoft YaHei", tahoma;
}

body {
	padding-top: 50px;
}

.top-nav{ background: none !important;}
/*顶部导航*/

.top-box {
	height: 50px;
	margin-bottom: 0;
	z-index: 16;
}

.top-box .navbar-collapse {
	border: none;

}
.nav, .navbar-nav, .navbar-right, .top-nav{ background: none !important;}
.top-box .navbar-brand {
	height: 50px;
	padding: 10px;
}

.top-box .navbar-brand img {
	height: 100%;
}

.top-box .navbar-toggle {
	margin-top: 8px;
}

.top-box .navbar-nav {
	margin-top: 0 !important;
}

.top-nav li a {
	line-height: 30px;
	font-size: 14px;
	text-align: center;
	background: #fff !important;
}

.top-nav li.active a,
.top-nav li a:hover {
	color: #f00 !important;
}

.common-title {
	text-align: center;
}

.common-title h2 {
	font-size: 20px;
	margin-top: 0;
	margin-bottom: 10px;
}

.common-title span {
	display: block;
	font-size: 18px;
	color: #b2b2b2;
	margin-bottom: 15px;
}

.common-title p {
	text-align: center;
	font-size: 0;
	margin-bottom: 0;
}

.common-title p i {
	display: inline-block;
	width: 50px;
	height: 1px;
	margin: 0 2px;
	background: #a4a4a4;
}

.common-title p i:first-child {
	background: #009944;
}


/*页脚*/

.footer {
	background: #eeeeee;
	border-top: 10px solid #598c55;
	padding-top: 30px;
	padding-bottom: 30px;
}

.footer .thumbnail {
	background: #eeeeee;
	border: none;
	text-align: center;
	font-size: 12px;
	margin-bottom: 0;
}
.bread {
	font-size: 0;
	background: #fff;
	border-bottom: 2px solid #598c55;
	border-radius: 0;
	margin-bottom: 30px;
	margin-top: 30px;
	padding:10px 0;
}
.bread li,.bread li a{
	font-size: 14px;
	color: #808080;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}
.bread li:last-child{
	width: 100px;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}
.bread .active{
	color: #598c55;
}

/*首页--新闻中心*/

.news {
	padding-top: 40px;
	padding-bottom: 40px;
}

.news .news-content {
	margin-top: 40px;
}

.news .news-content p {
	margin-bottom: 0;
}

.news .thumbnail {
	overflow: hidden;
	padding: 0;
}

.news .thumbnail img {
	width: 100%;
}

.news .news-content .caption {
	padding: 0px 9px 20px 9px;
	border-bottom: 1px solid #ccc;
	color: #333;
}

.news .news-content .caption h3 {
	margin-bottom: 12px;
	font-size: 18px;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.news .news-content .caption p {
	font-size: 14px;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.news .news-des {
	padding: 20px 9px 20px 9px;
	color: #b2b2b2;
}

.news .news-des p {
	overflow: hidden;
	text-overflow: ellipsis;
	display: -webkit-box;
	-webkit-line-clamp: 3;
	-webkit-box-orient: vertical;
	margin-bottom: -20px;
}

.news-more {
	font-size: 0;
}

.news-more .date,
.news-more .more {
	display: inline-block;
	width: 50%;
	text-align: center;
	background: #e5e5e5;
	line-height: 40px;
	font-size: 12px;
	color: #4c4c4c;
}

.news-more .date {
	box-sizing: border-box;
	border-right: 1px solid #fff;
}


/*首页--公司简介*/

.introduce {
	padding-top: 40px;
	padding-bottom: 20px;
	background: url(http://image.chonger.com/img/index-introBg.jpg) no-repeat center;
	background-size: cover;
}

.introduce .common-title,
.video .common-title {
	color: #fff;
}

.introduce .common-title span,
.video .common-title span {
	color: #fff;
}

.introduce .common-title p i:last-child,
.video .common-title p i:last-child {
	background: #fff;
}

.introduce .intro-content {
	margin-top: 40px;
	padding: 0 15px;
	color: #fff;
	line-height: 1.6;
	font-size: 14px;
}

.introduce .intro-content a {
	color: #fff;
	font-size: 14px;
	margin-top: 50px;
}


/*首页--产品中心*/

.product {
	padding-top: 40px;
	padding-bottom: 40px;
}

.pro-content>div {
	padding-left: 10px;
	padding-right: 10px;
}

.pro-content .pro-content-item {
	border-radius: 4px;
	position: relative;
	border: 1px solid #ccc;
	overflow: hidden;
	margin-top: 20px;
}

.pro-content .pro-content-item img {
	width: 100%;
}

.pro-content .pro-content-item p {
	position: absolute;
	width: 100%;
	left: 0;
	bottom: 0;
	line-height: 40px;
	color: #fff;
	background: rgba(98, 135, 86, 0.8);
	margin-bottom: 0;
	text-align: center;
	font-size: 16;
}


/*首页--视频中心*/

.video {
	background: url(http://image.chonger.com/img/index-videoBg.jpg) no-repeat center;
	background-size: cover;
	padding-top: 40px;
	padding-bottom: 40px;
}

.video-content {
	margin-top: 20px;
}

.video .nav-tabs {
	border-bottom: none;
}

.video-tab li {
	margin-top: 10px;
	width: 33.3333%;
	float: left;
	box-sizing: border-box;
	padding: 4px;
}

.video-tab li:first-child {
	margin-top: 0;
}

.video-tab li a {
	background: #598c55;
	border-radius: 4px;
	font-size: 14px;
	color: #fff;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.video-tab li a:hover,
.video-tab>li.active>a,
.video-tab>li.active>a:hover,
.video-tab>li.active>a:focus {
	background: #598c55;
	color: #fff;
	border: 1px solid #598c55;
}

.video-tab-cont {
	margin-top: 20px;
}


/****侧边导航****/
.about {
	padding-top: 40px;
	padding-bottom: 40px;
}
.mobile-nav {
	
}
.mobile-nav .mobile-nav-title {
	background: #598c55;
	color: #fff;
	text-align: center;
	padding-top: 10px;
	padding-bottom: 10px;
	margin-bottom: 10px;
}
.mobile-nav .mobile-nav-title p {
	margin-bottom: 0;
}
.mobile-nav-item{
	font-size: 0;	
}
.mobile-nav-item a{
	display: inline-block;
	width: 50%;
	font-size: 14px;
	text-align: center;
	color: #fff;
	background: #598c55;
	padding-top: 15px;
	padding-bottom: 15px;
	margin-bottom: 10px;
}
.mobile-nav-item a:first-child{
	border-right: 2px solid #fff;
}

.sidebar ul,
.sidebar ul li {
	list-style: none;
	padding: 0;
}
.sidebar ul li {
	margin-bottom: 10px;
	background: #598c55;
	text-align: center;
}

.sidebar ul li.sidebar-title {
	background: #598c55;
	color: #fff;
	border-radius: 4px;
	text-align: center;
	padding-top: 20px;
	padding-bottom: 10px;
	font-size: 18px;
}

.sidebar ul li.sidebar-title h3,
.mobile-nav .mobile-nav-title h3 {
	margin-top: 0;
	margin-bottom: 20px;
	font-size: 24px;
}

.sidebar ul li.sidebar-title p:before,
.sidebar ul li.sidebar-title p:after,
.mobile-nav .mobile-nav-title p:before,
.mobile-nav .mobile-nav-title p:after {
	content: "";
	display: inline-block;
	width: 20%;
	height: 1px;
	vertical-align: middle;
	background: #fff;
}

.sidebar ul li.sidebar-item a {
	display: block;
	padding-top: 12px;
	padding-bottom: 12px;
	color: #fff;
	font-size: 18px;
}

.right-content .content-title{
	font-size: 16px;
	color: #598c55;
	margin-bottom: 20px;
}
.right-content .content-title small{
	color: #598c55;
}

.about-content-des ,.about-content-honor{
	border-top: 2px solid #7db079;
}
.about-content-des p{
	color: #808080;
}
.honor-pic{
	padding: 15px;
}


/*新闻列表页*/
.news-list .row{
	margin-bottom: 20px;
}
.news-pic{
	margin-bottom: 20px;
}
.news-text h3 a,.news-text p a{
	color: #333;
	text-decoration: none;
}
.news-list a.readmore{
	display: inline-block;
	color: #fff;
	background: #598c55;
	border-radius: 4px;
	padding: 4px 15px;
	margin-bottom: 10px;
	text-decoration: none;
}
.news-text h3{
	margin-top: 0;
	margin-bottom: 10px;
	font-size: 22px;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}
.news-text p{
	font-size: 14px;
	margin-bottom: 15px;
	overflow : hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}
.news-text span{
	font-size: 12px;
	color: #999999;
}
.page-box{
	text-align: center;
	margin-top: 20px;
}
.page-box li a{
	color: #999999;
}
.page-box li.active a{
	color: #fff;
	background: #598c55;
}

.news-detail-title{
	font-size: 12px;
	color: #999;
	margin-bottom: 20px;
}
.news-detail-title h2{
	color: #598c55;
	font-size: 18px;
	margin-top: 0;
	margin-bottom:15px;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}
.news-detail-title span{
	padding-right: 20px;
}



/*客服中心*/
.service{
	padding-top: 40px;
	padding-bottom: 40px;
}
.service .service-content h3{
	margin-top: 0;
	color: #333;
	font-size: 18px;
}
.service-content .row{
	padding-top: 20px;
	padding-bottom: 20px;
	border-bottom: 1px solid #ccc;
	margin-left: 0;
	margin-right: 0;
}
.service-content .row p{
	color: #999;
}

/*招商加盟*/
.investment{
	padding-top: 40px;
	padding-bottom: 40px;
}
.investment-content ul{
	list-style: none;
	padding: 0;
}
.investment-content ul li>div{
	margin-bottom: 20px;
}
.investment-content ul h3{
	display: inline-block;
	background: #598c55;
	color: #fff;
	font-size: 18px;
	padding: 10px;
}
.investment-content ul h5{
	color: #598c55;
	font-size: 18px;
}

@media only screen and (min-width:768px) {
	/*顶部导航*/
	.top-nav li a {
		padding-top: 10px;
		padding-bottom: 10px;
	}
	/*页脚*/
	.footer {
		border-top: 12px solid #598c55;
		padding-top: 30px;
	}
	.footer .thumbnail {
		font-size: 14px;
	}
	/*首页--视频中心*/
	.video-tab .video-tab-title h3 {
		margin-top: 0;
		margin-bottom: 0;
		background: #598c55;
		color: #fff;
		padding: 20px 20px;
		text-align: center;
	}
	.video-content {
		margin-top: 40px;
	}
	.video-tab li {
		background: #fff;
		clear: both;
		margin-top: 10px;
		width: 100%;
		border-radius: 4px;
		overflow: hidden;
		box-sizing: border-box;
		padding: 0;
	}
	.video-tab li:first-child {
		margin-top: 0;
	}
	.video-tab li a {
		background: #fff;
		padding: 24px 0 24px 10;
		border-width: 0 0 0 6px;
		border-color: #598c55;
		font-size: 14px;
		color: #598c55;
	}
	.video-tab li a:hover,
	.video-tab>li.active>a,
	.video-tab>li.active>a:hover,
	.video-tab>li.active>a:focus {
		border-width: 0 0 0 6px;
		border-color: #598c55;
		background: #fff;
		color: #598c55;
	}
	.video-tab-cont {
		margin-top: 0;
	}
	.about {
		padding-top: 50px;
		padding-bottom: 50px;
	}
	.right-content .about-content h4{
		font-size: 16px;
		color: #598c55;
	}
	
	/*新闻列表页*/
	.news-list .row{
		margin-bottom: 30px;
	}
	.news-pic{
		margin-bottom: 0;
	}
	.news-text p{
		margin-bottom: 10px;
		overflow : hidden;
	    text-overflow: ellipsis;
	    display: -webkit-box;
	    -webkit-line-clamp: 2;
	    -webkit-box-orient: vertical;
	}
	
	.bread {
		margin-top: 0px;
	}
	
	.service{
		padding-top: 50px;
		padding-bottom: 50px;
	}
	
	/*招商加盟*/
	.investment{
		padding-top: 50px;
		padding-bottom: 50px;
	}
}

@media only screen and (min-width:992px) {
	body {
		padding-top: 90px;
	}
	/*顶部导航*/
	.top-box {
		height: 100px;
	}
	.navbar-brand {
		height: 100px !important;
		padding-top: 10px;
		padding-bottom: 10px;
	}
	.top-box .navbar-brand img {
		height: 100% !important;
	}
	.top-nav li a {
		padding: 24px 30px;
		line-height: 50px;
		font-size: 16px;
		background: #fff !important;
	}
	.top-nav li.active a,
	.top-nav li a:hover {
		color: #f00 !important;
	}
	.introduce .intro-content {
		font-size: 16px;
		line-height: 2;
	}
	/*页脚*/
	.footer {
		border-top: 14px solid #598c55;
		padding-top: 40px;
	}
	.footer .thumbnail {
		font-size: 14px;
	}
	/*首页--产品中心*/
	.pro-content>div {
		padding-left: 15px;
		padding-right: 15px;
	}
	.video-content {
		margin-top: 50px;
	}
	.about {
		padding-top: 60px;
		padding-bottom: 60px;
	}
	
	/*新闻列表*/
	.news-pic{
		margin-bottom: 0;
	}
	.news-text p{
		margin-bottom: 15px;
		overflow : hidden;
	    text-overflow: ellipsis;
	    display: -webkit-box;
	    -webkit-line-clamp: 2;
	    -webkit-box-orient: vertical;
	}
	
	.service{
		padding-top: 60px;
		padding-bottom: 60px;
	}
	/*招商加盟*/
	.investment{
		padding-top: 60px;
		padding-bottom: 60px;
	}
}

@media only screen and (min-width:1200px) {
	/*顶部导航*/
	.top-box {
		height: 100px;
	}
	.navbar-brand {
		height: 100px !important;
		padding-top: 10px;
		padding-bottom: 10px;
	}
	.top-box .navbar-brand img {
		height: 100% !important;
	}
	.top-nav li a {
		padding: 24px 40px;
		line-height: 50px;
		font-size: 16px;
		background: #fff !important;
	}
	.top-nav li.active a,
	.top-nav li a:hover {
		color:#000000  !important;
	}
	/*公共标题*/
	.common-title h2 {
		font-size: 24px;
		margin-top: 0;
		margin-bottom: 30px;
		font-family:"楷体";
	}
	.common-title span {
		display: block;
		font-size: 20px;
		color: #b2b2b2;
		margin-bottom: 25px;
	}
	/*页脚*/
	.footer {
		border-top: 15px solid #598c55;
		padding-top: 50px;
	}
	.footer .thumbnail {
		font-size: 18px;
	}
	/*首页--新闻*/
	.news {
		padding-top: 80px;
		padding-bottom: 80px;
	}
	.news .news-content {
		margin-top: 65px;
	}
	.news .news-content .caption {
		padding: 0px 9px 20px 9px;
	}
	.news .news-content .caption h3 {
		margin-bottom: -10px;
		font-size: 20px;
		overflow: hidden;
		text-overflow: ellipsis;
		white-space: nowrap;
		font-family:"楷体";
		text-align:center;
	}
	.news .news-content .caption p {
		font-size: 16px;
		overflow: hidden;
		text-overflow: ellipsis;
		white-space: nowrap;
	}
	.news .news-des {
		padding: 30px 9px 40px 9px;
	}
	.news-more .date,
	.news-more .more {
		font-size: 14px;
		line-height: 50px;
	}
	/*首页--公司简介*/
	.introduce {
		padding-top: 80px;
		padding-bottom: 30px;
	}
	.introduce .intro-content {
		font-size: 18px;
		line-height: 2;
	}
	.introduce .intro-content a {
		color: #fff;
		font-size: 16px;
		margin-top: 30px;
	}
	/*首页--产品中心*/
	.product {
		padding-top: 80px;
		padding-bottom: 90px;
	}
	.pro-content>div {
		padding-left: 15px;
		padding-right: 15px;
	}
	.pro-content .pro-content-item p {
		line-height: 70px;
		font-size: 24px;
	}
	/*首页--视频中心*/
	.video-content {
		margin-top: 70px;
	}
	.video-tab .video-tab-title h3 {
		margin-top: 0;
		margin-bottom: 0;
		background: #598c55;
		color: #fff;
		padding: 20px 20px;
	}
	.video-tab li {
		background: #fff;
		clear: both;
		margin-top: 10px;
		width: 100%;
		border-radius: 4px;
		overflow: hidden;
		box-sizing: border-box;
	}
	.video-tab li:first-child {
		margin-top: 0;
	}
	.video-tab li a {
		padding: 24px 0 24px 10;
		border-width: 0 0 0 6px;
		border-color: #598c55;
		font-size: 14px;
		color: #598c55;
	}
	.video-tab li a:hover,
	.video-tab>li.active>a,
	.video-tab>li.active>a:hover,
	.video-tab>li.active>a:focus {
		border-width: 0 0 0 6px;
		border-color: #598c55;
		background: #fff;
		color: #598c55;
	}
	.about {
		padding-top: 80px;
		padding-bottom: 80px;
	}
	
	.service{
		padding-top: 80px;
		padding-bottom: 80px;
	}
	
	/*招商加盟*/
	.investment{
		padding-top: 80px;
		padding-bottom: 80px;
	}
}





/* ===================================
	FOOTER
====================================== */
footer{
	background-color: #eeeeee;
	padding: 40px 0px 10px 0px;
	overflow: hidden;
}

footer .clean-footer-content{
	text-align: center;
}

footer .clean-footer-logo{
	text-align: center;
	margin-bottom: 20px;
}

footer p{
	text-align: center;
	color: #818181;
	font-size: 11px;
	text-transform: uppercase;
	margin-bottom: 15px;
}

footer ul {
	display: inline-block;
}

footer ul li{
	float: left;
	margin-right: 15px;
	border: 2px solid #818181;
	padding: 8px 10px;
	border-radius: 50%;
	width: 50px;
}

footer ul li:last-child{
	margin-right: 0;
}

footer ul li a{
	font-size: 21px;
}

footer ul li a i{
	font-size: 21px;
	color: #818181;
	-webkit-transition: all .3s;
	   -moz-transition: all .3s;
	    -ms-transition: all .3s;
	     -o-transition: all .3s;
	        transition: all .3s;
}






.carousel-inner .item img{ height:auto; width: 100%;}



.marquee {width:100%;height:300px;overflow:hidden; margin-top:20px;}
.marquee li{ display:inline; float:left; margin-right:12px;}
.marquee li a{ width:100%; height:300px; display:block; float:left; text-align:center; font-size:14px;}
.marquee li a:hove{ text-decoration:none;}
.marquee li img {width:100%; height:auto;}
.marquee li em{font-style: normal; height:24px; line-height:24px; display:block; margin-top:8px;}


.fp-controlArrow.fp-prev,.fp-controlArrow.fp-next{ display: none !important;}





.embed-responsive p{color: #fff; }





/*产品展示*/
.cp{
margin-top: 4em;
	
}
.cp_top{
	width: 1200px;
	text-align: center;
	margin: auto;
}
.cp_top li{
	display: inline-block;
	width: 23%;
	margin: 10px;
}
.cp_top li img{
	width: 100%;
	height: 280px;
}
.cp_top h3{
	font-size: 18px;
	color: #000000;
	font-family:"楷体";
}
.cp_top p{
	font-size: 14px;
	color: #000000;
	padding-bottom: 20px;
	font-family:"楷体";
}
.cp_img{
	position: relative;
	 display: block;
    overflow: hidden;
}
.cptop_img{
	position: absolute;
	bottom: 4px;
	left: -100%;
    transition: all 0.5s;
}
.cp_img:hover .cptop_img {
    left: 0;
}






/*æ–°é—»æ˜¾ç¤ºé¡µé¢*/
.news_show {
  max-width: 1240px;
  width: 98%;
  margin: auto;
  color: #666666;
}
.news_show .show_t {
  font-size: 26px;
  text-align: center;
  display: block;
  margin: 10px auto;
  color: #81a849;
  white-space: nowrap;
  overflow: hidden;
}
@media (max-width: 480px) {
  .news_show .show_t {
    font-size: 18px;
  }
}
.news_show .fa_time {
  font-size: 14px;
  color: #999;
  text-align: center;
  display: block;
  white-space: nowrap;
  overflow: hidden;
}
.news_show p {
  margin: 30px auto;
  line-height: 30px;
  width: 100%;
  text-align: left;
}
.news_show .s_img {
  margin-bottom: 30px;
}
.news_show .s_img .pic {
  width: 48%;
  float: left;
  margin-right: 2%;
  position: relative;
}
.news_show .s_img .pic i {
  display: block;
/*  padding-bottom: 65%;*/
}
.news_show .s_x {
  margin-top: 30px;
  margin-bottom: 70px;
  overflow: hidden;
}
.news_show .s_x a {
  display: block;
  width: 48%;
  float: left;
  border: 1px solid #cccccc;
  height: 32px;
  line-height: 32px;
  padding-left: 30px;
  color: #999;
  box-shadow: 0px 2px 0px #e6e6e6;
  -moz-box-shadow: 0px 2px 0px #e6e6e6;
  -webkit-box-shadow: 0px 2px 0px #e6e6e6;
  background: url("../images/show_s1.png") no-repeat 20px center;
  overflow: hidden;
  margin-bottom: 2px;
}
.news_show .s_x a:hover {
  border: 1px solid #81a849;
  box-shadow: 0px 2px 1px #a2bf78;
  color: #81a849;
  background: url("../images/show_x2.png") no-repeat 20px center;
}
.news_show .s_x .s_prev {
  margin-right: 4%;
}
@media (max-width: 480px) {
  .news_show .s_x {
    margin-bottom: 40px;
  }
  .news_show .s_x a {
    width: 100%;
    float: none;
    margin-bottom: 10px;
  }
}


.pic img{ max-height: 230px; max-width: 370px; width: 100%; margin-left: 100px;}
