<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee 
	http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
	<display-name></display-name>
	<!-- 配置当前web应用的初始化参数 -->
	<!-- 配置通用的字符集编码 -->
	<context-param>
		<param-name>encode</param-name>
		<param-value>utf-8</param-value>
	</context-param>

	<!-- 配置监听器 -->
	<listener>
		<listener-class>cn.em.listener.MyServletContextListener</listener-class>
	</listener>

	<!-- 配置Filter -->
	<filter>
		<filter-name>EncodingFilter</filter-name>
		<filter-class>cn.em.filter.EncodingFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>EncodingFilter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>


	<filter>
		<filter-name>AutoLoginFilter</filter-name>
		<filter-class>cn.em.filter.AutoLoginFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>AutoLoginFilter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>


	<!-- 配置Servlet -->
	<servlet>
		<servlet-name>RegistServlet</servlet-name>
		<servlet-class>cn.em.web.RegistServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>ValiImageServlet</servlet-name>
		<servlet-class>cn.em.web.ValiImageServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>AjaxCheckUsernameServlet</servlet-name>
		<servlet-class>cn.em.web.AjaxCheckUsernameServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>LoginServlet</servlet-name>
		<servlet-class>cn.em.web.LoginServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>LogoutServlet</servlet-name>
		<servlet-class>cn.em.web.LogoutServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>TestServlet</servlet-name>
		<servlet-class>cn.em.web.TestServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>ManageAddProdServlet</servlet-name>
		<servlet-class>cn.em.backend.web.ManageAddProdServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>ProdListServlet</servlet-name>
		<servlet-class>cn.em.web.ProdListServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>ProdImageServlet</servlet-name>
		<servlet-class>cn.em.web.ProdImageServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>ManageProdListServlet</servlet-name>
		<servlet-class>cn.em.backend.web.ManageProdListServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>ManageUpdatePNumServlet</servlet-name>
		<servlet-class>cn.em.backend.web.ManageUpdatePNumServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>ManageDelProdServlet</servlet-name>
		<servlet-class>cn.em.backend.web.ManageDelProdServlet</servlet-class>
	</servlet>












	<servlet-mapping>
		<servlet-name>RegistServlet</servlet-name>
		<url-pattern>/RegistServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ValiImageServlet</servlet-name>
		<url-pattern>/ValiImageServlet.action</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>AjaxCheckUsernameServlet</servlet-name>
		<url-pattern>/AjaxCheckUsernameServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>LoginServlet</servlet-name>
		<url-pattern>/LoginServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>LogoutServlet</servlet-name>
		<url-pattern>/LogoutServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>TestServlet</servlet-name>
		<url-pattern>/servlet/TestServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ManageAddProdServlet</servlet-name>
		<url-pattern>/ManageAddProdServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ProdListServlet</servlet-name>
		<url-pattern>/ProdListServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ProdImageServlet</servlet-name>
		<url-pattern>/ProdImageServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ManageProdListServlet</servlet-name>
		<url-pattern>/ManageProdListServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ManageUpdatePNumServlet</servlet-name>
		<url-pattern>/ManageUpdatePNumServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ManageDelProdServlet</servlet-name>
		<url-pattern>/ManageDelProdServlet</url-pattern>
	</servlet-mapping>
	<welcome-file-list>
		<welcome-file>index.jsp</welcome-file>
	</welcome-file-list>
</web-app>
